{% extends 'all-gallary/base.html' %}
{% block content %}


{% for gallary_item in gallary %}

<div class="container">
<div class="card" style="max-width: 30em; padding-bottom: 100px; padding-top: -115px; margin-top: 90px">
        
        <div class="card-header">
            <h1>{{gallary_item.name }}</h1>

            </div>
        <div class="container">
          <h5 class="card-title"></h5>
          <a href='/image/{{image.id}}/' id='image.id'></a>
          <img style="width: 100%" src="{{gallary_item.image.url}}" alt=""></a>
          <p class="card-text" style="color:tomato">{{gallary_item.description }}</p>
          <p> location :{{gallary_item.location }}</p>
          
        </div>
      </div>
        
    
    
      


{%endfor%}

{%endblock%}
