{% extends 'all-gallary/base.html' %}
{% block content %}


{% for gallary_item in gallary %}

<div class="container">
  <div class="card" style=" padding-top: 130px; padding-top: 115px;">

    <div class="card-header">
      <h1>{{gallary_item.name }}</h1>

    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <a href='/image/{{image.id}}/' id='image.id'></a>
      <img style="width: 300px;height: 300px" src="{{gallary_item.image.url}}" alt=""></a>
      <p class="card-text" style="color:tomato">{{gallary_item.description }}</p>
      <p> location :{{gallary_item.location }}</p>

    </div>
  </div>






  {%endfor%}

  {%endblock%}