{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>My Gallary - {{title}}</title>
  {% else %}
    <title> My Gallary  </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/basegallary.css' %}">
  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}

    {% block content %} <marquee><h class='time'>Gallary for {{date|date:"l d-F Y"}}</h></marquee> {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>