{% extends 'all-gallary/base.html' %}
{% block content %}


{% for gallary_item in gallary %}

<div class="card text-white bg-dark mb-3" style="max-width: 20em;">
        <div class="card-header">
            <h1>{{gallary_item.name }}</h1>

            </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <a href='/image/{{image.id}}/' id='image.id'></a>
          <img style="width: 200px" src="{{gallary_item.image.url}}" alt=""></a>
          <p class="card-text" style="color:tomato">{{gallary_item.description }}</p>
          <p> location :{{gallary_item.location }}</p>
          
        </div>
        
    
    
      


{%endfor%}

{%endblock%}