{%extends 'all-gallary/base.html'%}
{% block content %}


<div class="container" style=" padding-bottom: 130px; padding-top: 115px;">

  <div class="row">
    {% if images%}
    <h2> {{ images|length }}  image found for {{message}}</h2>
   <marquee> find more images by specifying the category you want.</marquee>
    {% else %}
   <div class="container">

      <h1 style="color:green" > {{message}}  couldn't be found.</h1>
      <p></p>Please search the image name or view image categories below 
      <i class="fa fa-hand-o-down" style="font-size:48px;color:red"></i>
      <ul>
      <li><strong>Shags </strong></li>
      <li><strong>Kisumu </strong></li>
      <li><strong>Entertainment</strong></li>
      <li><strong>Travel</strong></li>
      </ul>
      
    
   </div>
{% endif %}

  </div>





  {% if images %}
  <div class="row" style="background-color:orangered">
    {% for img in images %}
    <div class="col-md-4">
       <h1>{{img.name}}</h1>
      <div class="hovereffect">
        <img src="{{img.image.url}}" class="img-responsive"  height="300px" width="300px">
        <div class="overlay">
         
          <p>{{img.description}}</p>
        </div>
        <p>Taken from <strong>{{img.location}}</strong></p>
      </div>
    </div>

    {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock %}